@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$color-secondary: #a9a9a9;
$color-primary: #4e5150;
$color-grey: #f2f2f2;
$color-highlight: #f2994a;
$color-border-grey: #828282;
$color-black: #333333;
$color-muted: #bdbdbd;
$color-medium-dark-grey: #4f4f4f;
$color-light: #e0e0e0;

body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
}

main {
  flex: 1;
}

.top-container {
  padding: 20px 10px 30px;
}

.heading {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $color-primary;
  transform: rotate(-0.02deg);
}

.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.checkout-container {
  background: $color-grey;
  border-radius: 12px;
  padding: 20px 20px 10px;
  margin-bottom: 40px;
  max-width: 300px;
}

.checkout-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;

  &__image {
    width: 120px;
    height: 130px;
    transform: rotate(-0.02deg);
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
  }
}

.checkout-item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  padding-right: 10px;

  &__title {
    font-size: 12px;
    line-height: 15px;
    color: $color-primary;
    transform: rotate(-0.02deg);
    margin: 0 0 12px;
  }

  &__new-price {
    font-size: 14px;
    line-height: 17px;
    color: $color-highlight;
    transform: rotate(-0.02deg);
  }

  &__old-price {
    font-size: 11px;
    line-height: 12px;
    text-decoration-line: line-through;
    color: $color-primary;
    transform: rotate(-0.02deg);
  }

  &__control {
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-border-grey;
    border-radius: 12px;
    padding: 10px 8px;
    font-family: $font-montserrat;
    font-style: normal;
    align-items: center;
  }

  &__control--decrement,
  &__control--increment {
    color: $color-border-grey;
    background: $color-light;
    border-radius: 4px;
    font-size: 17px;
    padding: 1px 5px;
  }

  &__control--count {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }
}

.price-info {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-muted;
  transform: rotate(-0.18deg);
  margin: 10px 0;
  padding-top: 10px;
}

.price-info1 {
  margin-top: 80px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

fieldset label {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: $color-medium-dark-grey;
  transform: rotate(-0.02deg);
  margin: 14px 0 3px;
}

.contact-info {
  margin-bottom: 36px;
}

.form__title {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  transform: rotate(-0.02deg);
  margin: 0 0 3px;
}

.form__input-container {
  position: relative;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $color-border-grey;
}

.form__input-container .form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
  border: 1px solid $color-border-grey;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px 20px;
  text-indent: 30px;
  font-size: 12px;
  line-height: 15px;
  color: $color-black;
}

.form__input:focus {
  outline: none;
}

.form__input-group {
  display: flex;

  &--country {
    flex: 1;
    margin-right: 10px;
  }

  &--postal {
    flex: 1;
    margin-left: 10px;
  }
}

.check-group {
  margin-top: 14px;
  display: flex;
  align-items: center;

  & input[type='checkbox'] {
    border: 1px solid $color-border-grey;
    box-sizing: border-box;
    border-radius: 4px;
    width: 16px;
    height: 16px;
  }

  & span {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 5px;
    color: $color-medium-dark-grey;
    transform: rotate(-0.02deg);
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-continue {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 16px 36px;
  background: $color-highlight;
  border-radius: 12px;
  border: none;
  transition: transform 0.3s;
  margin-top: 30px;
}

.btn-continue:focus {
  outline: none;
}

.btn-continue:hover {
  transform: translateY(-2px);
}

footer {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-secondary;
  text-align: center;
  padding: 10px 0;
}

@media (min-width: 576px) {
  .top-container {
    max-width: 540px;
    margin: 0 auto 80px;
  }
}

@media (min-width: 992px) {
  .heading {
    font-size: 36px;
    line-height: 44px;
  }

  .top-container {
    max-width: 1200px;
    padding: 20px 30px;
  }

  .container {
    flex-direction: row;
  }

  .form-container {
    margin-right: 100px;
    order: 1;
    flex: 1;
    max-width: 520px;
  }

  .checkout-container {
    order: 2;
    flex: 1;
    max-height: 420px;
    padding: 20px 20px 30px;
  }

  .heading {
    font-size: 36px;
    line-height: 44px;
  }

  .form__title {
    font-size: 18px;
    line-height: 22px;
  }

  .form__input {
    min-height: 36px;
    padding: 11px 22px;
    text-indent: 32px;
    font-size: 14px;
    line-height: 18px;
  }

  fieldset label {
    font-size: 12px;
    line-height: 15px;
    margin: 18px 0 8px;
  }

  .contact-info {
    margin-bottom: 50px;
  }

  .check-group {
    margin-top: 16px;

    & input[type='checkbox'] {
      width: 18px;
      height: 18px;
    }

    & span {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .checkout-item-info {
    &__title {
      font-size: 16px;
      line-height: 20px;
    }

    &__new-price {
      font-size: 16px;
      line-height: 20px;
    }

    &__old-price {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .price-info span:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
  }
}
