.btn {
  font-size: 14px;
  line-height: 19px;
  border: none;
  padding: 14px 22px;
  border-radius: 24px;
  font-weight: bold;
  transition: all 0.25s;
  height: 50px;
}

.btn:focus {
  outline: none;
  border: 1px solid var(--color-mine-shaft);
}

.btn--success {
  background-color: var(--color-ocean-green);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid var(--color-ocean-green);
}

.btn--success:hover {
  background-color: #37a06d;
}

.btn--danger {
  background: var(--color-burnt-sienna);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid var(--color-burnt-sienna);
}

.btn--danger:hover {
  background-color: #d75757;
}

.btn--text {
  background-color: transparent;
  color: var(--color-silver);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn--text:hover {
  background-color: #eeeeee;
}
