.delete-image-container {
  background-color: white;
  border-radius: 12px;
  font-family: var(--font-noto-sans);
  width: 240px;
  padding: 20px;
}

.delete-image__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-bottom: 16px;
}

.delete-image-input-container {
  width: 100%;
  margin-bottom: 12px;
}

.delete-image__input {
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}

.delete-image__controls {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.delete-image__control {
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 20px;
}

@media screen and (min-width: 576px) {
  .delete-image-container {
    width: 380px;
    padding: 22px;
  }
}

@media screen and (min-width: 768px) {
  .delete-image-container {
    width: 500px;
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .delete-image-container {
    width: 580px;
  }

  .delete-image__title {
    font-size: 24px;
    line-height: 33px;
  }

  .delete-image__control {
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}
