@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-muli: 'Muli', sans-serif;
  --layout-breakpoint-small: 576px;
  --layout-breakpoint-medium: 768px;
  --layout-breakpoint-large: 992px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
