.image-drag-drop {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  background-color: var(--color-catskill-white);
  border: 1px dashed var(--color-jordy-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 36px 12px;
  position: relative;
}

.image-drag-drop img {
  width: 120px;
  height: 90px;
  margin-bottom: 32px;
}

.image-drag-drop p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: var(--color-silver);
  margin-bottom: 10px;
}

.drag-drop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  transition: all 0.2s;
  border-radius: 12px;
}

.drag-drop--focused {
  -webkit-box-shadow: 0 0 5px 2px rgba(47, 128, 237, 0.1);
  -moz-box-shadow: 0 0 5px 2px rgba(47, 128, 237, 0.1);
  box-shadow: 0 0 1px 1px rgba(47, 128, 237, 0.1);
  background-color: rgba(47, 128, 237, 0.1);
}
