.services {
  padding: 60px 8px 10px;
  font-family: $font-poppins;
  max-width: $layout-breakpoint-sm-mw;
  margin: 10px auto;

  &__title {
    max-width: 450px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: $color-primary;
  }
}

.services-cards {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.service-card {
  flex: 1;
  margin: 5px;
  font-family: $font-poppins;
  padding: 40px 30px;
  transition: all 0.3s;
  max-width: 320px;
  margin: auto;

  &__icon {
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 16px;
  }

  &__icon--info {
    background-color: $color-blue;
  }

  &__icon--success {
    background-color: $color-green;
  }

  &__icon--danger {
    background-color: $color-red;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: $color-primary;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: $color-secondary;
  }

  &__action {
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color-gray;
    padding: 5px 10px;
    border: none;
    background-color: $color-chinese-white;
    border-radius: 12px;
    cursor: pointer;
  }

  &:hover {
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
  }

  &:hover &__action {
    background-color: $color-blue;
    color: white;
  }
}

@media screen and (min-width: $layout-breakpoint-md) {
  .services {
    padding: 120px 80px 20px;
    max-width: $layout-breakpoint-md-mw;

    &__title {
      font-size: 32px;
      line-height: 48px;
    }
  }

  .services-cards {
    flex-direction: row;
  }
}

@media screen and (min-width: $layout-breakpoint-lg) {
  .services {
    max-width: $layout-breakpoint-lg-mw;
    padding: 120px 120px 25px;

    &__title {
      font-size: 36px;
      line-height: 54px;
    }
  }
}
