$font-heebo: 'Heebo', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

$color-primary: #333333;
