$font-heebo: 'Heebo', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

$layout-breakpoint-sm-mw: 600px;
$layout-breakpoint-md-mw: 840px;
$layout-breakpoint-lg-mw: 1440px;

$color-primary: #333333;
$color-secondary: #4f4f4f;
$color-gray: #828282;
$color-white-smoke: #f2f2f2;
$color-blue: rgba(45, 156, 219, 0.7);
$color-gray-74: #bdbdbd;
