.quote {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
  padding: 5px 0;
  padding-left: 30px;
  border-left: 5px solid var(--color-yellow);
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .quote {
    font-size: 36px;
    padding-left: 80px;
    margin-bottom: 30px;
  }
}
