@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300;400;500&family=Poppins:wght@300;400;700&family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 2;
}

.main {
  flex: 8;
}
