@import '../../../styles/variables';

$component-demo-title: #333333;

.component-demo-container {
  margin: 10px 0;
  margin-right: 20px;
}

.component-demo__title {
  color: $component-demo-title;
  font-family: $font-ubuntu-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 8px;
}
