@import '../../../styles/variables';

$button-default-font-color: #3f3f3f;
$button-default-background-color: #e0e0e0;
$button-default-background-color-highlight: #aeaeae;

$button-outline-font-color: #3d5afe;
$button-outline-border-color: #3d5afe;
$button-outline-background-color-highlight: rgba(41, 98, 255, 0.1);

$button-text-font-color: #3d5afe;
$button-text-background-color-highlight: rgba(41, 98, 255, 0.1);

$button-disabled-box-shadow-bg-color: #3d5afe;
$button-disabled-text-color: #9e9e9e;

$button-primary-background-color: #2962ff;
$button-primary-background-color-highlight: #0039cb;

$button-secondary-background-color: #455a64;
$button-secondary-background-color-highlight: #1c313a;

$button-danger-background-color: #d32f2f;
$button-danger-background-color-highlight: #9a0007;

.base-button-style {
  font-family: $font-noto-sans-jp;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.base-button-style:disabled {
  color: $button-disabled-text-color;
  box-shadow: none;
  pointer-events: none;
}

.default-variant {
  color: $button-default-font-color;
  background-color: $button-default-background-color;
  border: none;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

  &:hover,
  &:focus {
    background: $button-default-background-color-highlight;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    outline: none;
  }
}

.outline-variant {
  color: $button-outline-font-color;
  background-color: transparent;
  border: 1px solid $button-outline-border-color;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: $button-outline-background-color-highlight;
    outline: none;
  }
}

.text-variant {
  color: $button-text-font-color;
  background-color: transparent;
  border: none;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: $button-text-background-color-highlight;
    outline: none;
  }
}

.disable-shadow__btn {
  box-shadow: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.btn-icon {
  margin: auto 5px;
}

.btn-small {
  padding: 4px 10px;
}

.btn-medium {
  padding: 8px 16px;
}

.btn-large {
  padding: 12px 24px;
}

.btn-primary {
  color: white;
  background-color: $button-primary-background-color;

  &:hover,
  &:focus {
    background: $button-primary-background-color-highlight;
  }
}

.btn-secondary {
  color: white;
  background-color: $button-secondary-background-color;

  &:hover,
  &:focus {
    background: $button-secondary-background-color-highlight;
  }
}

.btn-danger {
  color: white;
  background-color: $button-danger-background-color;

  &:hover,
  &:focus {
    background: $button-danger-background-color-highlight;
  }
}
