@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --color-primary: #333333;
  --color-secondary: #bdbdbd;
  --color-info: #6da6f2;
  --color-text: #828282;
  --color-highlight: #f18989;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
