.main-container {
  width: 100%;
  padding: 10px 25px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
}

.main-header__heading {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

.main-header__count {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.main-body {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 30px 25px;
}

@media screen and (min-width: 576px) {
  .main-container {
    max-width: 580px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 100%;
    padding: 15px 30px;
    max-width: 1400px;
  }

  .main-header__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .main-header__count {
    font-size: 15px;
    line-height: 18px;
  }

  .main-body {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    padding: 20px 40px;
  }

  .main-body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
