@import '../../styles/variables';

.inputs__title {
  font-family: $font-poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $title-color-primary;
  margin: 15px 0;
}

.inputs-demo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inputs-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}
