.loading {
  position: fixed;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--color-light-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .loading {
    font-size: 20px;
    line-height: 22px;
  }
}
