.job {
  max-height: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.job:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.company__logo {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}

.full-time-indicator {
  border: 1px solid #334680;
}
