$font-montserrat: 'Montserrat', sans-serif;
$font-noto-sans-jp: 'Noto Sans JP', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-ubuntu-mono: 'Ubuntu Mono', monospace;
$title-color-primary: #4f4f4f;
