.popular-breed__img {
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  -webkit-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  transition: all 0.3s !important;
  filter: none;
}

.popular-breed__img:hover {
  filter: grayscale(80%);
}

@media screen and (min-width: 840px) {
  .popular-breed__img {
    height: 160px;
    border-radius: 24px;
  }
}
