.scores {
  max-width: 480px;
  flex: 1;
}

.score {
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-right: 8px;
}

.score:last-child {
  margin-right: 0px;
}

.score--highlighted {
  background-color: #544439;
}

@media screen and (min-width: 840px) {
  .score {
    height: 10px;
  }
}
